.Book-list{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.navBarStyle {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: screen;
    background-color: lightgreen;
    padding: 10px;
    font-family: courier;
    }
   

.Header{
    
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    color: darkolivegreen;
    text-align: center;
}
.line{
    color: darkolivegreen;
    height: 1px;
    width: 100%;
}

.list{
    width:36rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

.Book-title{
    color: darkolivegreen;
    font-weight: bold;
    font-size: 20px;
    text-align: center;

}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:8px;

}

.button {
    background-color: rgb(200, 255, 196);
    height: 4rem;
    font-size: larger;
    border-radius: 4px ;
    display: flex  ;
    align-items: center;
    width: 8rem;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    margin-top:3rem;
}

button:hover {
    background-color: yellow;
  }
  
  .flex1{
    display: flex;
    align-items: center;
    accent-color: green;
    justify-content: center;
    
    
}

.container{
    display: flex;
    
    justify-content: center;

}

.flex-col1{

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    

}
.header{
    padding-top: 8rem;
    text-align: center;
}