
.Header{
    
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        align-items: center;
        justify-content: center;
        color: darkolivegreen;
        text-align: center;
}

.LoanList{
    padding-top: 4rem;
    margin-left: auto;
    margin-right:auto;
    width: 60%;
}