.navBar{
    display:flex;
    align-items: center;
    gap: 36rem;
    width: 100%;
    background-color: lightgreen;
    justify-content: center;
    padding: 0px;
    font-family: courier;
    position:fixed;
    z-index: 50;
    top: 0;
   
    }
.linksSection{
    gap:1rem;
    display: flex;
    justify-content: end;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color:aliceblue;
    right: 4rem;
    margin-left: 48rem;
}
.links{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: yellow;
    text-decoration: none;
    text-shadow: 0px 3px 5px black;
}
.flag{
    scale: 0.7;
    
}
.title{
    display: flex;
    align-items: center;
    position:fixed;
    left:4rem;
}

.home_link{
    text-decoration: none;
    color: black    ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}