.Login-form{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    align-items: center;
    justify-content: center;
    gap: 2rem;}

.navBarStyle {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: screen;
    background-color: lightgreen;
    padding: 10px;
    font-family: courier;
    }